//Colors
$primary-color: #576272;
$secondary-color: #afafaf;
$color-black: #000000;
$color-white: #ffffff;
$color-red: red;
$content-text-color: #000000;
$heading-text-color: #000000;
$light-content-color: #ffffff;

//Typography
@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");

$header-font: "Amatic SC", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$content-font: "Courier New", Courier, monospace;

$content-font-size: 14px;

// Structure
$tablet-width: 900px;
$mobile-width: 600px;

$max-page-width: 800px;
$page-gutters: 50px;
